
.orbitron-cal {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: 'Orbitron', "Roboto Mono", "Consolas", "Courier New", monospace;
}
.container {
    background-color: #50A2A7;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calculator {
    background-color: #EEE5E9;

}

.btn {
  border:  .5px solid #1C110A;

}
.btn {
    font-family: 'Orbitron', "Roboto Mono", "Consolas", "Courier New", monospace;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn.digit,
.btn.op,
.btn.action {
    font-size: 1.3rem;
    font-weight: 700;
}

.btn.eq,
.btn.toggle,
.btn.square,
.btn.backspace {
  background: #cfd8e3;
}

.btn.eq:hover,
.btn.toggle:hover,
.btn.square:hover,
.btn.backspace:hover {
  background: #b8c4d2; /* hover shade */
}

.btn.op {
    background: #e93317;
}
.btn.op:hover {
    background-color: #9B2915;
}
.btn.digit:hover {
    background-color: #e0e7ef ;
}

.btn.action {
    background: #faa701;
}

.btn.action:hover {
    background-color:  #E9B44C;
}
.calculator .buttons {
    width: 560px;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    border: 2px solid #1C110A;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px  20px;
    padding: 10px;
}


.buttons button {
    /* 40px to account for space between button*/
    flex: 0 0 calc((100% - 40px)/ 3);
    padding: 10px 16px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0px;
}
#display {
    text-align: right;
    max-width: 100%;
    box-sizing: border-box;
    flex: 1 1 100%;
    min-height: 35px;
    width: auto;
    height: auto;
    padding: 8px 10px;
    font-family: 'Orbitron';
    font-size: 2rem;    
    font-weight: 700;
}
